html,body{
  margin: 0;
  padding: 0;
}
div{
  border: solid 2px black;
}
.battlefield-container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  grid-template-columns: auto;
  min-height: 75%;
  min-width: 75%;
  max-width: 75%;
  max-height: 75%;
  height: auto;
  width: 75%;
  padding: 10px;
  display: grid;
  background-color: lightblue;
}
.grid-block{
  border: 1px solid black;
  padding: 10px;
  margin: 1px;
  background-color: white;
  display: inline-block;

}
